
/*Add to css styles  */

li{
  list-style: none;
}
span.price{
    font-size: 58px;
    display: block;
}

a.add-to-bag{
    display: block;
    color: #8f746c;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 0px;
    border: 2px solid #8f746c;
    width: 210px;
    margin: 20px auto;
}
